
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: tan;
    font-family: sans-serif;
}

.container {
    width: 700px;
    height: 400px;
    margin-top: 150px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-card {
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 18px;
    overflow: hidden;
}

.card-header {
    background-color: cadetblue;
    height: 125px;
    margin-bottom: 70px;
    border-bottom: 2px solid black;
}

.card-body {
    padding: 20px;
}

.card-body h1, 
.card-body h2,
.card-body h3,
.card-body p {
    margin: 15px 10px;
}

.avatar {
    border-radius: 50%;
    background-color: darkgrey;
    height: 100px;
    padding: 5px;
    margin-top: 70px;
    margin-left: 20px;
}

.icons {
    height: 20px;
}

a {
    color: cadetblue;
    text-decoration: none;
}