<!doctype html>
<html lang="en">

<head>
    <title>Dojo Survey</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="h1"><u>Submitted Info</u></h1>
        <h4 class="display4">Name: {{request.form["name"]}}</h4>
        <h4 class="display4">Dojo Location: {{request.form["dojo_location"]}}</h4>
        <h4 class="display4">Favorite Language: {{request.form["favLanguage"]}}</h4>
        <h4 class="display4">Comments: {{request.form["comments"]}}</h4>
        <a href="/"><button type="button" class="btn btn-primary">go back</button></a>
    </div>
</body>

</html>