<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dojo Survey</title>
</head>

<body class="d-flex justify-content-center align-items-center">
    <form action="/result" method="post">
        <div>
            <label for="form-group">Name:</label>
            <input type="text" id="formGroupExampleInput" placeholder="Name" name="name">
        </div>
        <div>
            <label for="inputLocation">Locations:</label>
            <select class="form-select" id="dojoLocation" name="dojo_location">
                <option value="Select">Select</option>
                <option value="New Orleans">New Orleans</option>
                <option value="San Jose">San Jose</option>
                <option value="Seattle">Seattle</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Dallas">Dallas</option>
                <option value="Chicago">Chicago</option>
            </select>
        </div>
        <div>
            <label for="inputLocation">Favorite Language:</label>
            <select id="favLanguage" name="favLanguage">
                <option value="Select">Select</option>
                <option value="Python">Python</option>
                <option value="Javascript">Javascript</option>
                <option value="Swift">C#</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div>
            <label for="exampleFormControlTextarea1">Comments: (Optional)</label>
            <textarea id="Comments" rows="3" name="comments"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
    </form>
</body>

</html>