li {
    color: blue;
}

.formElement {
    width: 250px;
}

#submitButton {
    background-color: rgb(0, 130, 0);
    color: white;
}

.formButtons {
    padding: 15px;
    /* padding-left: 20px; */
    /* padding-top: 30px; */
    /* padding: 10px 20px; */
    /* padding: 10px 20px 30px 40px; */
    margin: 40px;
}

.info {
    border: 1px solid black;
    /* border-color: black;
    border-style: solid;
    border-width: 1px; */
    padding: 10px;
}

h1 {
    border: 1px solid black;
    padding: 10px;
}