@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1>Welcome!</h1>
    <h2>Please give your name:</h2>

    <form action="/submit" method="post">
        <input type="text" name="Name" class="form-control">
        <input type="submit" value="Submit" class="btn btn-success">
    </form>
</div>