@{
    ViewData["Title"] = "Home Page";
}

@model User

<div class="text-center">
    <h1 class="display-4">Create a User</h1>
    <form asp-action="Process" asp-controller="Home" method="post">
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Date"></label>
            <input asp-for="Date" class="form-control">
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>
