@{
    ViewData["Title"] = "Success!";
}

<nav class=" d-flex justify-content-end m-5">
    <form asp-action="Logout" asp-controller="Home" method="post">
        <input type="submit" value="Logout" class="btn btn-danger">
    </form>
</nav>
<div class="text-center m-5">
    <h1>Success!</h1>
</div>
