* {
    margin: 0;
    padding: 0;
}

body {
    font-family: cursive;
    height: 100%;
    margin: 0 auto;
    background-color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 800px;
    width: 850px;
    margin: auto;
}

/* NavBar Below */

header {
    background-color: lightgray;
    height: 60px;
    width: 850px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navTitle {
    font-size: 30px;
    font-weight: bold;
}

.search {
    border: 2px solid black;
    border-radius: 5px;
    height: 25px;
    width: 400px;
}

/* Cards Below */

.ninja {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid black;
    border-radius: 10px;
    height: 250px;
    width: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}

span {
    font-style: italic;
}

.leftBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

p {
    font-size: large;
    font-weight: bold;
}

.sideBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid black;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Buttons & Links Below */

button:hover {
    cursor: pointer;
}

.loginBtn {
    width: 80px;
    height: 30px;
    border: 3px solid black;
    background-color: rgb(49, 105, 236);
    color: white;
    box-shadow: 5px 5px black;
}

.likeBtn1,
.likeBtn2 {
    width: 90px;
    height: 40px;
    border: 2px solid black;
    background-color: rgb(239, 239, 6);
    font-size: 17px;
    box-shadow: 5px 5px;
}

.addDef {
    width: 200px;
    height: 40px;
    border: 2px solid black;
    background-color: rgb(42, 206, 42);
    font-size: 17px;
    box-shadow: 5px 5px;
    visibility: visible;
}
